*{
    padding: 0;
    margin: 0;
    /* border: 2px red solid; */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    width: 100%;
    
}

.linkImg{
    width: 100px;
    height: 60px;
    margin: 0px 15px 0px 0px; 
}

/* nav{
    
    width: 45%;
} */
ul{
    display: inline-flex;
    list-style-type:none;
    
}

.navLink{
    list-style:none;
    color: #fff;
    font-weight: bold ;
    text-decoration: none;
}
li{
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
    
}


li:hover{
    box-shadow: 0px 3px 0 0 orange;
    font-weight: bolder;
}

.link{
    margin: 20px;
    text-decoration: none;
    color: rgb(39, 39, 197);
}


.titulo{
    
    display: flex;
}


.shop{
    margin: 0px 60px;;
}