*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.body{
    background-color: #EAEDED;
    
}

h3{
    color:#fff;
    background-color: rgb(31, 31, 31);
    padding: 10px 0;
    text-align: center;
}

.click{
    background-color: rgb(254, 137, 41);
}

.click:hover{
    background-color: rgb(190, 190, 190);
    color: orangered;
    font-weight: bold;
}
.oferta{
    text-align: center;
    padding: 10px;
}

.msj{
    color:orangered;
}

